.about-image-overlay {
    top: 0;
    position: absolute;
    width: 100%;
}

/* Members  */
.absoulite-font-bold {
    font-size: 24px;
    font-weight: 600;
}

.absoulite-font-small {
    font-size: 14px;
    color: gray;
}






.image-about {
    max-width: 100%;
    height: auto;

}

.pos-ab-1 {
    position: absolute;
    top: 0px;
    margin-left: 100px;
}

.pos-ab-2 {
    position: absolute;
    top: 130px;
    margin-left: 100px;
}

.pos-ab-3 {
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
}



.easy-small {
    font-size: 15px;
    color: black;
}



.font-bold {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.5em;
    margin: 0;
    color: lightgrey;
}

.refud-txt {
    font-size: 62px;
    font-weight: 700;
    color: #012970;
    ;
}






.font-small {
    color: grey;
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    opacity: 2;
}

.small-bold {
    font-size: 20px;
    color: var(--heading-color);
}

.font-bold {
    font-size: 2rem;
    /* Default font-size for smaller screens */
    font-weight: 700;
    line-height: 1.5em;
    margin: 0;
    color: #fff;
    max-width: 100%;
    /* Default max-width */
}

.box {

    border: 0.5rem solid #FDA802;
    /* Set the border thickness and color */
    width: 100%;
    height: 250px;
    background-color: #fff;
    position: relative;

}

.box-1 {
    border: 0.5rem solid #FDA802;
    width: 100%;
    height: 250px;
    background-color: #fff;
    position: relative;
}

.box-2 {
    border: 0.5rem solid #FDA802;
    width: 100%;
    height: 250px;
    background-color: #fff;
    position: relative;
}



.box-relative {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {

    .box,
    .box-1,
    .box-2 {
        height: 200px;
        /* Reduce height on smaller screens */
    }
}

@media (max-width: 480px) {

    .box,
    .box-1,
    .box-2 {
        height: 250px;
        /* Further reduce height on very small screens */
        margin: 0.5rem;
        /* Less margin on smaller screens */

    }


    .image-about {


        max-width: 100%;
        height: 350px;
        background-size: cover;




    }
}

@media (max-width: 768px) {

    /* Adjust the max-width value as needed */
    .pos-ab-1 {

        top: 0px;
        margin-left: 0px;
    }

    .pos-ab-2 {

        top: 400px;
        margin-left: 0px;


    }




}

@media (max-width: 1024px) {




    .absoulite-font-bold {
        padding: 10px;
        text-align: center;
        align-items: center;
    }

    .absoulite-font-small {
        font-size: 10px;
        color: gray;

    }



}


@media (min-width: 670px) and (max-width: 1024px) {
    .font-bold {
        font-size: 3rem;
    }

    .small-font {
        font-size: 16px;
    }

    .font-small {
        font-size: 16px;
    }

    .box {
        height: 200px;
    }


    .pos-ab-3 {
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
    }

    .pos-ab-1 {
        position: absolute;
        top: 0px;
        margin-left: 30px;
    }

    .pos-ab-2 {
        position: absolute;
        top: 400px;
        margin-left: 30px;
    }

    .box,
    .box-1,
    .box-2 {
        height: 250px;
        min-width: 180px;

    }
}



.abouts-card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 250px;
    background-color: #f8f9fa;
    border: 0.5rem solid var(--accent-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}





.contact {
    padding: 60px 0;

}

.contact .section-title {
    text-align: center;
    margin-bottom: 50px;
}

.contact .section-title h2 {
    font-size: 36px;
    font-weight: bold;
}

.contact .info-item {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid #ddd;
    height: 160px;
  
}

@media (max-width:768px) {
    .contact .info-item {
      height: auto;
    }
}

.contact .info-item i {
    font-size: 24px;
    color: #4154F1;
    margin-bottom: 10px;
}

.contact .info-item h3 {
    font-size: 18px;
    font-weight: bold;

}

.contact .info-item p {
    font-size: 14px;
    color: #666;
}

.contact .contact-us .info-item {
    margin-bottom: 20px;
}





/* Form Container */
.custom-form {
    padding: 20px;
    max-width: 500px;
    margin: auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Form Group */
  .form-group {
    margin-bottom: 20px;
  }
  
  /* Labels */
  .form-group label {
    font-size: 14px;
    color:grey;
    display: block;
    margin-bottom: 5px;
  }
  
  /* Input Fields */
  .form-input {
    width: 100%;
    padding: 12px 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    
    outline: none;
    transition: border-color 0.3s;

  }
  
  .form-input:focus {
    border-color: #012970;
  }
  
  /* Submit Button */
  .form-submit .form-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color:  #4154F1;
    border: none;
   
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
  }
  
  .form-submit .form-button:hover {
    background-color: #2980b9;
  }
  
  /* Success and Error Messages */
  .form-message {
    display: none;
    padding: 10px;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;

  }


  .textarea-container {
    width: 100%;
 
  
    display: flex;
    flex-direction: column;
}



#custom-textarea {
    width: 100%;
    min-height: 150px;
    padding: 10px;
   font-size: 14px;
    border: 1px solid #ccc;

    resize: vertical; /* Allows the user to resize vertically */
    background-color: #fff;
   
}

#custom-textarea:focus {
    border-color: #012970; /* Blue border on focus */
    outline: none;
   
}