:root {
    --background-color: #ffffff;
    --default-color: #444444;
    --heading-color: #012970;
    --accent-color: #4154f1;
    --surface-color: #ffffff;
    --contrast-color: #ffffff;
}

.header-inner {
    /* width: 100%;
    position: fixed; */
    color: var(--heading-color);
    background-color: var(--background-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


header {
    position: absolute;
    z-index: 92;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 0;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

.nav-link {
    font-size: 18px;
    font-weight: 600;
    color: var(--heading-color);
}



.list-title {
    font-size: 16px;
    font-weight: 500;
    color: #0d0e16;
    margin-bottom: 2px;
}

.list-paragraph {
    font-size: 12px;
    font-weight: 500;
    color: #9ca3af;
    margin-bottom: 0;
}



.logo {
    width: 150%;
    height: 60px;
}



.navbar-brand img {
    max-width: 150px;
    /* Adjust logo size */
}

.navbar {
    margin-left: auto;
}

.nav-item {
    margin-right: 15px;
}

.navbar-toggler {
    border: none;
    outline: none;
}

.navbar-collapse {
    justify-content: flex-end;
}

/* Styling for dropdown */
.nav-item.dropdown .dropdown-menu {
    padding: 15px;
}

.nav-item.dropdown .dropdown-item {
    display: flex;
    align-items: center;
}

.nav-item.dropdown .dropdown-item img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}



/* Responsive styling */


/* Apply pointer cursor to the popover */
.popover.custom-popover,
.popover.custom-popover .popover-body {
    cursor: pointer;
}


@media (max-width: 768px) {
    .navbar-nav {
        text-align: center;
    }

    .nav-item {
        margin: 10px 0;
    }

    .nav-gap {
        gap: 0rem;
    }

}



.footer-img {
    width: 40%;
    margin-top: 10px;
}

.footer-section {
    background-color: black;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

@media (max-width:768px) {
    .footer-links {
        padding-top: 50px;
    }
}

@media (max-width:568px) {
    .footer-links {
        padding-top: 130px;
    }
}

@media (max-width:320px) {
    .footer-links {
        padding-top: 180px;
    }
}


.footer-title {
    background: linear-gradient(50deg, var(--text-white), var(--text-lightBlue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.75rem;
    font-weight: bold;
}

.footer-pvt {
    color: #ffffff9d;
}

.footer-para {
    color: #ffffff9d;
    font-size: 14px;
}

.footer-description {
    font-size: 14px;
    color: #ffffff9d;
    margin-top: 0.5rem;
}

.section-header {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.footer-links-column {
    color: #fff;
}

.footer-link {
    color: #ffffff9d;
    text-decoration: none;
    font-size: 14px;
    display: block;
    margin-top: 0.5rem;
}

.footer-link:hover {
    color: #ffffff;
}

.newsletter-section {
    color: #fff;
}

.newsletter-input {
    height: 35px;
    width: 100%;
}

.newsletter-btn {
    border-radius: 0px 10px 10px 0px;
    color: white;
    background-color: green;
    height: 35px;
    width: 100%;
    border: none;
    font-size: 16px;
}

.newsletter-btn:hover {
    background-color: darkgreen;
}

/* Footer Responsive adjustments */
@media screen and (max-width: 768px) {
    .footer-title {
        font-size: 1.5rem;
    }

    .footer-description {
        font-size: 0.9rem;
    }

    .section-header {
        font-size: 1.3rem;
    }

    .newsletter-input {
        width: 70%;
    }

    .newsletter-btn {
        border-radius: 0px 10px 10px 0px;
    }

    .card-title {
        font-size: 15px;
    }

}

@media screen and (max-width: 480px) {
    .footer-links {
        flex-direction: column;
    }

    .newsletter-input {
        height: 50px;
        width: 100%;
    }

    .newsletter-btn {
        color: green;
        background-color: green;
        height: 50px;
        width: 100%;
    }
}

.nav-link-js:hover {
    background-color: lightgray;
    padding: 10px;
    /* padding: 5px; */
}

.nav-link-js {
    padding: 10px;
    /* padding: 5px; */
}

/* Apply custom width to popover */
.custom-popover {
    width: 400px !important;
    /* Adjust width to your requirement */
    max-width: 100% !important;
    /* Ensure it doesn't exceed the screen size */
}

/* Optional: Styling for the popover body to make it scrollable if necessary */
.custom-popover .popover-body {
    padding: 10px;
    max-height: 400px;
    /* Set max height */
    overflow-y: auto;
    /* Allow scrolling if content exceeds height */
}


/* For larger screens, you can set a fixed width for the popover */
@media (min-width: 768px) {
    #productsLink[data-bs-content] {
        max-width: 250px;
    }
}

/* For smaller screens, adjust the width and position */
@media (max-width: 767px) {

    /* Ensure popover is well positioned */
    .popover {
        left: 0 !important;
        right: 0 !important;
        margin: 0 auto;
    }
}


/* Main container styling */
.section-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Card styling */
.card {
    width: 100%;
    /* max-width: 600px; */
    padding: 1rem;
    border-radius: 0;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

/* Title styling */
.card-title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #012970;
}

/* Form elements styling */
.form-group label {
    color: grey;
    font-size: 16px;
    font-weight: 400;
}

.form-control {
    border-radius: 0;
    padding: 0.375rem 0.75rem;
    font-size: 14px;
}

.form-control:focus {
    border-color: #012970;
    box-shadow: none;
}

/* Button styling */
.btn-primary {
    border-radius: 0;
    max-width: 100%;
    width: 200px;

}